.stop-scroll {
  overflow: hidden;
  -webkit-overflow-scrolling: hidden;
}

.tooltip-helper-backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.tooltip-helper-active-description {
  background-color: rgb(36, 36, 36);
  position: relative;
  font-size: 1rem;
  border-radius: 10px;
  height: auto;
  width: auto;
  min-width: 100px;
  max-width: 500px;
  z-index: 9998;
  transition-property: transform;
  will-change: transform;
  transform: translateX(0px) translateY(0px);
  transform-origin: 5px 5px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0px 0px 10px rgb(56, 56, 56);
  border: 1px solid white;
}

.tooltip-helper-active-description-animate {
  animation: shake 0.15s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% { left: -3px }
  50% { left: 3px }
  100% { left: -3px }
}

.tooltip-helper-active-description p {
  color: #fff;
  overflow-y: auto;
  height: 75%;
  padding: 10px;
  margin: 0 !important;
}

.tooltip-helper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* margin-bottom: -15px; */
}

.tooltip-helper-footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltip-helper-active {
  position: absolute;
  /* transition-duration: 500ms; */
  transition-property: transform;
  will-change: transform;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: white;
}

.tooltip-helper-active-element {
  overflow: hidden;
  position: absolute;
}

.tooltip-helper-next-sequence,
.tooltip-helper-prev-sequence,
.tooltip-helper-end-sequence,
.tooltip-helper-quit-sequence {
  background-color: rgb(22, 121, 251);
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 30px;
  cursor: pointer;
  font-size: 0.9rem;
}

.tooltip-helper-prev-sequence {
  margin-right: 10px;
}

.tooltip-helper-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

.tooltip-helper-quit-sequence {
  background-color: rgb(213, 72, 72);
  width: 30px;
  padding: 5px;
  fill: none;
}

.tooltip-disabled-btn {
  background-color: rgb(92, 92, 92) !important;
  user-select: none !important;
  color: rgba(255, 255, 255, 0.671);
  cursor: not-allowed;
}

.tooltip-helper-arrow-hide {
  position: absolute;
  width: 15px; 
  height: 15px; 
  z-index: 9996; 
  transition-property: transform;
  will-change: transform;
  transform: translate3d(0px, 0px, 0px);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgb(36, 36, 36);
}

.tooltip-helper-arrow {
  position: relative;
  width: 15px; 
  height: 15px; 
  z-index: 9997; 
  transition-property: transform;
  will-change: transform;
  transform: translate3d(0px, 0px, 0px);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgb(36, 36, 36);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  border: 1px solid white;
}