.title {
  font-size: 6rem;
  line-height: 1.2;
}

@media (max-width: 900px) {
  .card {
    width: 600px !important;
  }
  .title {
    font-size: 5rem;
    line-height: 1.2;
  }
}

@media (max-width: 600px) {
  .card {
    width: 400px !important;
  }
  .title {
    font-size: 3rem;
    line-height: 1.2;
  }
}

@media (max-width: 400px) {
  .card {
    width: 90% !important;
  }
  .title {
    font-size: 2rem;
    line-height: 1.2;
  }
}